<div class="modal fade" id="mergeAndPublishModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{'Component.MergePublish.Title' | translate }}</h4>
            </div>
            <div class="modal-body">
                {{'Component.MergePublish.Tips' | translate }}
                <br>
                <h5>{{'Component.MergePublish.NextStep' | translate }}</h5>
                <div class="radio">
                    <label ng-click="toReleaseNamespace.mergeAfterDeleteBranch = 'true'">
                        <input type="radio" name="deleteBranch" ng-checked="!toReleaseNamespace.mergeAfterDeleteBranch ||
                                           toReleaseNamespace.mergeAfterDeleteBranch == 'true'">
                        {{'Component.MergePublish.DeleteGrayscale' | translate }}
                    </label>
                </div>
                <div class="radio">
                    <label ng-click="toReleaseNamespace.mergeAfterDeleteBranch = 'false'">
                        <input type="radio" name="deleteBranch"
                            ng-checked="toReleaseNamespace.mergeAfterDeleteBranch == 'false'">
                        {{'Component.MergePublish.ReservedGrayscale' | translate }}
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                    data-dismiss="modal">{{'Common.Cancel' | translate }}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="showReleaseModal()">
                    {{'Common.Ok' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>